<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-menu wrapper-flex">
      <ul class="footer-lists">
        <li class="footer-list--title">Category</li>
        <li class="footer-list">
          <a href="/news">News</a>
        </li>
        <li class="footer-list">
          <a href="/world">World</a>
        </li>
        <li class="footer-list">
          <a href="/games">Games</a>
        </li>
        <li class="footer-list">
          <a href="/references">References</a>
        </li>
      </ul>

      <ul class="footer-lists">
        <li class="footer-list--title">Apples</li>
        <li class="footer-list">
          <a href="/news">Web</a>
        </li>
        <li class="footer-list">
          <a href="/world">E-Commerce</a>
        </li>
        <li class="footer-list">
          <a href="/games">Business</a>
        </li>
        <li class="footer-list">
          <a href="/references">Entertainment</a>
        </li>
        <li class="footer-list">
          <a href="/references">Portfolio</a>
        </li>
      </ul>

      <ul class="footer-lists">
        <li class="footer-list--title">Business</li>
        <li class="footer-list">
          <a href="/news">Infopreneur</a>
        </li>
        <li class="footer-list">
          <a href="/world">Personal</a>
        </li>
        <li class="footer-list">
          <a href="/games">Wiki</a>
        </li>
        <li class="footer-list">
          <a href="/references">Forum</a>
        </li>
      </ul>

      <div class="footer-subscribe">
        <form>
          <label for="subscribe-input">Subscribe for updates</label>
          <div class="footer-subscribe--input">
            <input type="text" name="subscribe" id="subscribe-input" placeholder="Email">
            <button class="button secondary short">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="footer-text wrapper-flex">
      <div class="footer-copy">
        <p>&copy;Copyright 2021 Peak Panda. All rights reserved.</p>
      </div>
      {%- include social.html -%}
    </div>

  </div>

</footer>
