<section class="people">
	<div class="wrapper">

		<div class="people-title">
	    	<h2 class="text-center-align">We're a team of creatives and developers.</h2>
	    	<p class="text-center-align">We are a team of designers, copywriters, content strategists and developers working together to create meaningful digital experiences that resonate with people.</p>
  		</div>

  		<div class="wrapper-flex people-lists">
  			<div class="people-list">
  				<img class="people-list--img" src="./assets/people-img1.jpg">
  				<h4>Oliver Aguilerra</h4>
  				<p class="people-list--title">Product Manager</p>
  				<p class="people-list--description">Pommy ipsum bent as a nine bob note naff off biscuits nowt, a cuppa unhand me sir hadn't done it in donkey's years sod's law.</p>
  			</div>

  			<div class="people-list">
  				<img class="people-list--img" src="./assets/people-img2.jpg">
  				<h4>Marta Clermont</h4>
  				<p class="people-list--title">Designer</p>
  				<p class="people-list--description">Secondary fermentation degrees plato units of bitterness, cask conditioned ale ibu real ale pint glass craft beer. krausen goblet grainy ibu.</p>
  			</div>

  			<div class="people-list">
  				<img class="people-list--img" src="./assets/people-img3.jpg">
  				<h4>Alice Melbourne</h4>
  				<p class="people-list--title">Human Resources</p>
  				<p class="people-list--description">I just closed my eyes and in a nanosecond I cured myself from this ridiculous model of disease, addiction and obsession.</p>
  			</div>

  			<div class="people-list">
  				<img class="people-list--img" src="./assets/people-img4.jpg">
  				<h4>Martin Garix Potter</h4>
  				<p class="people-list--title">Engineer</p>
  				<p class="people-list--description">Pommy ipsum bent as a nine bob note naff off biscuits nowt, a cuppa unhand me sir hadn't done it in donkey's years sod's law.</p>
  			</div>
  		</div>

	</div>
</section>