<section class="price">
  <div class="price-title">
    <h2 class="text-center-align">Build your next site in minutes.</h2>
    <p class="text-center-align">IndieGopher is a one-of-a-kind website builder that helps you build, publish and market websites with the world’s most advanced platform. With our all-inclusive service package, we take care of everything for you.</p>
  </div>

  <div class="wrapper wrapper-flex">
    <div class="flex-3-col price-card">
      <h3>Starter Plan</h3>
      <h1>$39 <span>/ month</span></h1>
      <ul class="price-card__lists">
        <li class="price-card__list">10 deploys per day</li>
        <li class="price-card__list">10 GB of storage</li>
        <li class="price-card__list">3 domains</li>
        <li class="price-card__list">SSL Certificates</li>
      </ul>
      <button class="button primary long position-centern-align">Get Now</button>
    </div>

    <div class="flex-3-col price-card">
      <h3>Pro Plan</h3>
      <h1>$59 <span>/ month</span></h1>
      <ul class="price-card__lists">
        <li class="price-card__list">100 deploys per day</li>
        <li class="price-card__list">50 GB of storage</li>
        <li class="price-card__list">Unlimited domains</li>
        <li class="price-card__list">SSL Certificates</li>
      </ul>
      <button class="button primary long position-centern-align">Get Now</button>
    </div>

    <div class="flex-3-col price-card">
      <h3>VIP Plan</h3>
      <h1>$89 <span>/ month</span></h1>
      <ul class="price-card__lists">
        <li class="price-card__list">Unlimited deploys per day</li>
        <li class="price-card__list">100 GB of storage</li>
        <li class="price-card__list">Unlimited domains</li>
        <li class="price-card__list">SSL Certificates</li>
      </ul>
      <button class="button primary long position-centern-align">Get Now</button>
    </div>
  </div>

</section>
