<section class="price">
  <div class="price-title">
    <h2 class="text-center-align">Our Pricing</h2>
    <p class="text-center-align">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="wrapper wrapper-flex">
    <div class="flex-3-col price-card">
      <h3>Starter Plan</h3>
      <h1>$39 <span>/ month</span></h1>
      <ul class="price-card__lists">
        <li class="price-card__list">Lorem ipsum dolor</li>
        <li class="price-card__list">consectetur adipiscing elit</li>
        <li class="price-card__list">incididunt ut labore et</li>
        <li class="price-card__list">sit amet, consectetur adipis</li>
      </ul>
      <button class="button primary long position-centern-align">Get Now</button>
    </div>

    <div class="flex-3-col price-card">
      <h3>Pro Plan</h3>
      <h1>$59 <span>/ month</span></h1>
      <ul class="price-card__lists">
        <li class="price-card__list">Lorem ipsum dolor</li>
        <li class="price-card__list">consectetur adipiscing elit</li>
        <li class="price-card__list">incididunt ut labore et</li>
        <li class="price-card__list">sit amet, consectetur adipis</li>
      </ul>
      <button class="button primary long position-centern-align">Get Now</button>
    </div>

    <div class="flex-3-col price-card">
      <h3>VIP Plan</h3>
      <h1>$89 <span>/ month</span></h1>
      <ul class="price-card__lists">
        <li class="price-card__list">Lorem ipsum dolor</li>
        <li class="price-card__list">consectetur adipiscing elit</li>
        <li class="price-card__list">incididunt ut labore et</li>
        <li class="price-card__list">sit amet, consectetur adipis</li>
      </ul>
      <button class="button primary long position-centern-align">Get Now</button>
    </div>
  </div>

</section>
